.cache/
elpa/
auto-save-list/
transient/
workspace/
eln-cache/
eshell/
var/
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
.persistent-scratch
bookmarks
projectile-bookmarks.eld
projectile.cache
recentf
smex-items
temp.el
emojis/
eclipse.jdt.ls/
/session.10aa571899a5800b87165093721495348300000017570078
/url/
