.cache/
auto-save-list/
transient/
var/
.lsp-session-v1
.persistent-scratch
projectile-bookmark*
temp.el
elpa/
.dap-breakpoints
bookmarks
projectile.cache
recentf
session.*
eclipse.jdt.ls/
workspace/
.metadata/